.modal-div {
  width: 80vw;
  height: 70vh;
  background-color: rgba(223, 222, 222, 0.801);
  position: absolute;
  top: 7.5vh;
  left: 10vw;
  border: 1px solid #777;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal-button {
  background-color: rgba(173, 173, 173, 0.541);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 28px;
  color: rgb(194, 3, 3);
  font-weight: bold;
}

.modal-button:active {
  background-color: rgba(218, 216, 216, 0.699);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 28px;
  color: rgb(194, 3, 3);
  font-weight: bold;
}
