.wrapper {
  margin: auto;
  width: 80%;
  background: #fff;
  padding-bottom: 15px;
  padding-top: 10px;
}

.field {
  height: 30px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}

.textField {
  height: 60px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.wrapper .textField textarea {
  padding-top: 30px;
}

.wrapper .field input,
.wrapper .textField textarea {
  outline: none;
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(241, 241, 241);
  font-size: 17px;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.field input:focus ~ label,
.field input:valid ~ label {
  transform: translateY(-25px);
  font-style: 15px;
  color: silver;
}


.textField textarea:focus ~ label,
.textField textarea:valid ~ label {
  transform: translateY(25px);
  font-style: 15px;
  color: silver;
}

.wrapper .textField label,
.wrapper .field label {
  position: absolute;
  bottom: 0px;
  left: 0;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper .textField .underline,
.wrapper .field .underline {
  position: absolute;
  bottom: 0;
  left: -50%;
  height: 2px;
  width: 100%;
}

.textField .underline:before,
.field .underline:before {
  position: absolute;
  content: '';
  height: 100%;
  background: silver;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.textField textarea:focus ~ .underline:before,
.textField textarea:valid ~ .underline::before,
.field input:focus ~ .underline:before,
.field input:valid ~ .underline::before {
  transform: scaleX(1);
}