.assignForm {
  justify-content: space-around;
  padding-bottom: 1.6rem;
  width: 100%;
  padding-top: 0.2rem;
}
.btnDiv {
  display: flex;
  justify-content: space-around;
}

.btnDiv button {
  height: 2rem;
}
