.roomDiv {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px dotted rgb(204, 204, 204);
  padding-right: 0.6em;
  padding-left: 0.6em;
  width: 80%;
  margin: auto;
}

.roomDiv p {
  margin-bottom: 4px;
  margin-top: 4px;
}
