.form-control2 {
  margin: 1rem 0;
}

.form-control2 input,
.form-control2 textarea {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.55rem 0.75rem;
  display: block;
  text-align: right;
}

.form-control2 input:focus,
.form-control2 textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #5456eb;
}

.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}
