.auth-box__div {
  width: 100%;
  text-align: right;
  padding-top: 1rem;
}
.form-group {
  margin-bottom: 0rem;
}

.switch-auth__div {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid rgb(150, 3, 255);
  margin-bottom: 2.4rem;
  margin-top: 0.5rem;
}

.switch-auth__div h2 {
  color: rgb(144, 0, 247);
  text-shadow: 1px 1px black;
}

.switch-auth__div h2:active {
  color: rgb(97, 7, 241);
}

.form {
  margin-right: 1.2rem;
  margin-left: 1rem;
  text-align: right;
  margin-top: 1rem;
}

.forgot-password {
  color: rgb(3, 110, 197);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0.65rem;
}

.btn {
  width: 100%;
  background-color: rgb(100, 4, 168);
  color: rgb(230, 230, 230);
}

.btn:disabled,
.btn:hover:disabled,
.btn:active:disabled {
  background: rgba(100, 4, 168, 0.795);
  color: rgb(255, 255, 255);
  border-color: rgb(118, 6, 199);
  cursor: not-allowed;
}

.btn:active,
.btn:focus {
  color: rgb(218, 216, 216);
  background-color: rgb(143, 48, 211);
}

.form-check {
  margin-bottom: 0.7rem;
}

@media only screen and (min-width: 600px) {
  .title-text {
    position: absolute;
    top: 12rem;
    left: 15rem;
  }
  .auth-box__div {
    position: fixed;
    border: 0.4px solid rgba(207, 199, 199, 0.781);
    background-color: rgba(255, 255, 255, 0.801);
    left: 65rem;
    top: 10rem;
    width: 25rem;
    text-align: right;
    padding-bottom: 1rem;
    box-shadow: 2px 3px gainsboro;
    border-radius: 5%;
  }

  .switch-auth__div {
    display: flex;
    justify-content: space-around;
    color: #e0d7a8;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    border-bottom: 3px solid rgba(216, 215, 215, 0.459);
  }

  .switch-auth__div h2 {
    cursor: pointer;
    margin-bottom: 2px;
  }

  .switch-auth__div h2:hover {
    color: #ada67e;
    margin-bottom: -1.4px;
    border-bottom: 3px solid #ada67e49;
  }

  .form {
    display: inline-block;
    margin-right: 2.2rem;
    text-align: right;
  }
  .form-group {
    width: 20rem;
  }
}
