.roomElement {
  height: 15rem;
  width: 10rem;
  margin: auto;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid rgb(201, 201, 201); 
  box-shadow: 1px 1px 1px 1px rgb(231, 231, 231);

}

.roomImage {
  width: 95%;
  min-height: 90%;
  margin: auto;
}

.roomTitle {
  text-align: center;
  margin: auto;
  font-size: 90%;
}
