.requestDiv {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(4, 4, 63);
  border-top: 0.5px solid rgb(4, 4, 63);
  padding-right: 0.6em;
  margin-bottom: 0.6em;
}

.requestInner__div {
  display: flex;
  width: 40%;
}

.requestInner__div p {
  text-align: center;
  margin: auto;
}

.date {
  min-width: 40%;
}

.name {
  min-width: 50%;
}

.descDiv {
  display: flex;
  margin: 0;
  padding: 0;
  width: 60%;
  justify-content: space-between;
}

.descDiv button {
  margin: auto;
  padding: auto;
  background-color: transparent;
  border: none;
  font-size: 28px;
  color: firebrick;
  font-weight: bold;
  width: 8%;
}

.descDiv p {
  margin: auto;
  padding: 0;
  margin-right: 0.1rem;
  width: 90%;
  text-align: right;
}
