.dropdown-item {
  border: 0.5px dotted violet;
  margin-bottom: 0.2rem;
}
.main-navigation__drawer-nav {
  margin-top: 2rem;
}

.logout {
  position: fixed;
  bottom: 10%;
}

.sidedrawer-header {
  background-color: rgb(209, 209, 209);
  height: 15%;
  width: 100%;
}

.profile {
  position: relative;
  top: 50%;
}
