.card-div {
  height: 20rem;
  width: 14rem;
  border: solid 0.6px rgba(199, 191, 191, 0.521);
  display: block;
  position: relative;
  padding: 0px;
  margin: -1px;
}

@media (max-width: 368px) {
  .card-div {
    width: 100vw;
    height: 95vh;
  }
}

.card-img {
  height: 60%;
  width: 100%;
}

.team-div {
  margin-left: 1rem;
}

.team-div p {
  margin-top: 1rem;
}

.description-btn,
.description-btn:active,
.description-btn:hover {
  background: transparent;
  border: none;
  cursor: pointer;
}

.description-btn:focus {
  display: none;
}

.card-btn {
  margin-left: 65%;
  position: absolute;
  top: 90%;
  width: 4.6rem;
  padding: 0;
}
