.outerSearchDiv {
  margin-top: 2rem;
  text-align: center;
}

.outerSearchDiv Input {
  width: 50vw;
  margin-top: -6px;
}

.mainHeader {
  text-align: center;
  margin-bottom: 2rem;
}

.signupDiv {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.signupText {
  color: blue;
  text-decoration: underline;
  margin-left: 3px;
}
