.navbar {
  display: block;
  margin-bottom: 8px;
}

.section {
  justify-content: space-around;
  display: flex;
  text-align: center;
  border-bottom: 1px solid black;
}

.link {
  color: firebrick;
  padding: 0 10px 0 10px;
}

.link:hover {
  color: navy;
  border: none;
  text-decoration: none;
}

.link:active {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-bottom: 0;
}
