.navbar {
  padding: 0;
  width: 100vw;
  margin-bottom: 1rem;
  background-color: #c0c0c0;
  box-shadow: 0px 3px rgba(224, 224, 224, 0.692);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 50px;
  color: white;
  margin: 3px 12px;
}

.navbar p {
  color: rgb(218, 216, 216);
  padding-left: 0.7rem;
  margin: 0;
  padding-bottom: 0.4rem;
  font-size: 120%;
}

.bi {
  margin-left: 0.7rem;
  color: rgb(218, 216, 216);
}

.btn div {
  width: 30px;
  height: 3px;
  background-color: rgb(218, 216, 216);
  margin: 6px 0;
}

.mainNavigationMenuBtn {
  width: 1.5rem;
  height: 2.3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2.2rem;
  margin-top: 0.4rem;
  cursor: pointer;
}

.mainNavigationMenuBtn span {
  display: block;
  width: 2.4rem;
  height: 3px;
  background: rgb(77, 77, 77);
}

.mainNavigationTitle {
  color: white;
}

.mainNavigationHeaderNav {
  display: none;
}

.mainNavigationDrawerNav {
  height: 100%;
}

.authButton {
  justify-content: center;
  padding-right: 10px;
  color: black;
}
