.dropdownItem {
  margin-bottom: 1rem;
  display: block;
  color: black;
  text-align: center;
  padding-right: 0.4rem;
  font-size: 120%;
  padding-left: 0.2rem;
}

.dropdownItem:active {
  color: rgb(104, 104, 104);
  text-decoration: none;
}

.mainNavigationDrawer {
  margin-top: 2rem;
  width: 45vw;
}

.logout {
  position: fixed;
  bottom: 10%;
}

.sidedrawerHeader {
  position: relative;
  top: -1rem;
  margin-top: 0;
  background-color: #c0c0c0a2;
  height: 15%;
  width: 100%;
  box-shadow: 0 3px rgba(0, 0, 0, 0.226);
}

.sidedrawerHeaderTitle {
  position: absolute;
  bottom: 0;
  right: 7%;
  color: rgb(44, 44, 44);
  text-shadow: 0.4px 0.4px rgb(255, 255, 255);
}

.pair {
  margin-right: 7px;
  margin-left: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
