.expandedDiv {
  width: 100%;
  border: 3px solid rgb(98, 0, 255);
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: center;
  z-index: 500;
}

.expandedDiv img {
  width: 80%;
}

.expandedDiv h1 {
  border-bottom: 1px solid rgb(3, 3, 3);
  background-color: rgba(216, 191, 216, 0.219);
}
.caro {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.caro ol li {
  padding-top: 0;
  background-color: rgb(255, 0, 170);
  margin-top: -3.5rem;
}
