.groupList {
  padding: 0;
  text-align: center;
}

.date {
  text-align: center;
  margin-bottom: 0.6em;
}

.generateBtn {
  margin: auto;
  width: 80%;
  margin-bottom: 0.6em;
}

.scheduleDiv {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}
