.starting-div {
  margin-top: 5rem;
  margin-left: 1rem;
}

.starting-div h1 {
  margin-bottom: 1rem;
}

.starting-div h5 {
  margin-bottom: 1rem;
  margin-left: 0.4rem;
}

.starting-btn {
  margin-left: 7.3rem;
  margin-top: 1.2rem;
  width: 9rem;
}

.video-div {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 3rem;
  background-color: gray;
  width: 85vw;
  height: 12rem;
}
.bi-play-fill {
  width: 6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
}
