
.card {
  margin: auto;
  margin-bottom: 1.2em;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 4px 2px 2px rgb(228, 228, 228);
  width: 80%;
  padding-bottom: 1.2em;
}

.cardBody {
  width: 100%;
  border-top: 1px solid rgb(201, 201, 201);
  box-shadow: 0 -2px rgba(228, 228, 228, 0.568);
}

.cardBody h3 {
  margin-top: 0.6em;
}

.cardBody p {
  text-align: left;
  margin-left: 1.2em;
}

.date {
  margin-right: 70%;
  margin-bottom: -0.4rem;
  color: rgb(214, 214, 214);
}

.image {
  width: 80%;
  margin: auto;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}