.date {
  margin-right: 70%;
  margin-bottom: -0.4rem;
  color: rgb(214, 214, 214);
}

.card {
  margin: 0;
  margin-bottom: 1rem;
}

.image {
  height: 50vh;
  padding: 30px;
  margin-top: -20px;
  margin-bottom: -30px;
}

.link {
  margin-top: 0;
  margin-left: 60%;
}
