.outerRadioDiv {
  padding-left: 0;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 1.2em;
}

.radioDiv {
  display: grid;
  margin-bottom: 0.6em;
}
.radio {
  display: none;
}

.img {
  grid-row: 1;
  grid-column: 1;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  padding: 10px;
  margin-top: -2;
}

.radioDiv .radio:checked ~ img {
  border: 1px solid #830000;
}

.plus{
  color: rgb(82, 82, 82);
  position: absolute;
  top: 48%;
  right: 28%;
}

.div{
  margin: auto;
  width: 50%;
  min-height: 175px;
}