.outerRadioDiv {
  padding-left: 0;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

.radioDiv {
  display: grid;
  margin-bottom: 0.6em;
  /* margin-left: 30px; */
}
.radio {
  display: none;
}

.img {
  grid-row: 1;
  grid-column: 1;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  padding: 10px;
  margin-top: -2;
}

.radioDiv .radio:checked ~ img {
  border: 1px solid #830000;
}

.form {
  display: block;
  align-items: center;
  justify-content: center;
}

.buttonsDiv {
  margin: auto;
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  justify-content: space-around;
  display: flex;
}

.btn {
  min-width: 80%;
  margin: auto;
}
