.mainHeader {
  margin: auto;
}

.mainDiv {
  text-align: center;
  margin: auto;
  padding: auto;
}

.logoDiv {
  margin: auto;
}

.switchTypeDiv {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  margin-top: 0.6rem;
}

.switchTypeDiv h3:active {
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: -1px;
}

.switchTypeDiv h3:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: -1.9px;
}

.active {
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: -1.9px;
}

/* login css */

.form {
  display: block;
  align-items: center;
  justify-content: center;
}

.button {
  width: 70%;
  margin-top: 1.2em;
}

.rememberDiv {
  margin: auto;
  margin-top: 1em;
  text-align: right;
  width: 75%;
}

.rememberDiv label {
  margin-left: 5px;
  margin-top: -1em;
}

.signUpDiv {
  margin: auto;
  width: 80%;
  margin-top: 1.2em;
}

.signUpText {
  color: blue;
  text-decoration: underline;
}
.rememberDiv:hover label,
.signUpText:hover {
  cursor: pointer;
}
